html {
    box-sizing: border-box;
}

nav.navbar {
    width: 100vw;
    position: relative;
    z-index: 250;
}

nav.navbar a {
    line-height: 3rem;
    color: #4A4A4A;
    text-align: center;
}

nav.navbar-dark a {
    color: #CFCFCF;
}

nav.navbar .form-control {
    height: 3rem;
    border: none;
    border-radius: 0;
    transition: color 0.5s ease-in-out,
                background 0.5s ease-in-out,
                border 0.5s ease-in-out;
}

nav.navbar-dark .form-control {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, .08);
    border-color: rgba(255, 255, 255, .08);
}

nav.navbar-dark .form-control:focus {
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .15);
    box-shadow: none;
}

nav.navbar input::-webkit-selection,
nav.navbar input::-moz-selection,
nav.navbar input::selection {
    background-color: #FFFFFF;
}

nav.navbar input::-webkit-placeholder,
nav.navbar input::-moz-placeholder,
nav.navbar input::placeholder {
    color: #333333;
}

aside.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    padding: 0;
    background: #f4faff;
    border-right: 1px solid #E8EDF2;
    box-shadow: inset -5px 0px 56px -30px rgba(0, 0, 0, 0.4);
}

aside.menu > nav {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 3rem;
}

aside.menu .product {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

aside.menu .product > * {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #BBBBBB;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul.nav li,
.nav .nav-item {
    display: block;
    width: 100%;
}

.nav .nav-item {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out;
}

.nav-item {
    position: relative;
}

.nav .nav-item:hover {
    background-color: rgba(50, 50, 50, 0.1);
}

a.nav-item.active {
    background-color: white;
    border-top: 1px solid #E8EDF2;
    border-bottom: 1px solid #E8EDF2;
}

a.nav-item.active::after {
    position: absolute;
    right: -1px;
    height: 100%;
    background-color: white;
    width: 1px;
    content: '';
    top: 0;
    transition: background 0.2s ease-in-out;
}

.nav .nav-item.active:hover,
.nav .nav-item.active:hover::after {
    background-color: #E6EBF0;
}

.nav .submenu .nav-item {
    font-size: 0.93em;
    padding-left: 4rem !important;
}

.nav-item::before {
    content: '';
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    margin-top: -0.5rem;
    opacity: 0.6;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.submenu .nav-item::before {
    left: 2.5rem;
}

.nav-item.dashboard::before {
    background-image: url("feather.svg#icon-server");
}

.nav-item.report::before {
    background-image: url("feather.svg#icon-file-text");
}

.nav-item.settings::before {
    background-image: url("feather.svg#icon-sliders");
}

.nav-item.users::before {
    background-image: url("feather.svg#icon-users");
}

.nav-item.logout::before {
    background-image: url("feather.svg#icon-log-out");
}
